
.reference-image {
    > .content {
        flex: 1;
        padding: 25px;
        border: 1px solid var(--color-normal-border-weaker);
        border-radius: calc(var(--size-normal-radius) * 1px);
        overflow: auto;
        user-select: text;

    }
}
